body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #333;
  background: #efefef;
}

.content div {
  padding: 1em;
}

.content {
  border: 1px solid #333;
  width: 50%;
  margin: 0 auto;
  margin-top: 5em;
}

.navbar {
  display: flex;
  align-content: space-between;
  background: #333;
  width: 100%;
}

#navh1 {
  flex-grow: 1;
  color: #eee;
}
#navh1 h1 {
  padding-left: 10px;
}

.links {
  padding-right: 10px;
  line-height: 100px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

.footer {
  height: 50px;
  margin-top: 10em;
  background-color: green;
}
